<div class="mt-4">
    <form method="get" action="news">
        <div class="form-group">
            <label for="">Từ Khoá</label>
            <input type="text" name="q" class="form-control" placeholder="Từ khoá">
        </div>
        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>
</div>